/*
RealistikPanel Dark Stisla
This is an attempt to introducs dark theme
into Stisla. Being pretty inexperianced in
css, dont expect this to be good.
- RealistikDash
*/

.article .article-details {
    background-color: rgb(38, 42, 43) !important;
}

.card {
    background-color: rgb(38, 42, 43) !important;
}

.card .card-header {
    background-color: rgb(38, 42, 43) !important;
}

.table {
    background-color: rgb(38, 42, 43) !important;
}

body {
    background-image: linear-gradient(rgba(34, 34, 34, .85), rgba(34, 34, 34, .85)), url('/static/img/login-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #dadada;
}

.main-sidebar {
    background-color: rgba(38, 42, 43, 0.7);
}

.main-sidebar .sidebar-brand a {
    color: white;
}

.section .section-title {
    color: white;
}

.section .section-lead {
    color: white;
}

label {
    color: white;
}

.form-control, .form-control[readonly], .form-control:focus {
    background-color: #444444;
    border-color: #797979;
    color: #dadada;
}

.form-group label {
    color: #6777ef;
}

/* .section {
    // background-color: #1e1e1f2f;
} */

.main-wrapper-1 .section .section-header {
    border-top: 1px solid rgb(38, 42, 43);
}

.navbar .form-inline .form-control {
    background-color: #444444;
}

.navbar .form-inline .btn {
    background-color: #292929;
}

.btn > i {
    color: white;
}

.bg-whitesmoke {
    background-color: #3e3e3e !important;
    color: white;
}

body.sidebar-mini .main-sidebar:after {
    background-color: #2e3338;
}

.dropdown-menu {
    background-color: #2e3338;;
}

.dropdown-menu .dropdown-title {
    color: #dadada!important;
}

.dropdown-item {
    color: #dadada;
}

.page-link {
    background-color: #2e3338;
}

/*Ok here are some things for selectize.js*/

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    background-color: #444444;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #dadada;
}

.selectize-input {
    border: 1px solid #797979;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    background-color: #353535;
}
