/*
RealistikPanel Dark Stisla
This is an attempt to introducs dark theme
into Stisla. Being pretty inexperianced in
css, dont expect this to be good.
- RealistikDash
*/

.article .article-details {
    background-color: #2d2d2d;
}

.card {
    background-color: #2d2d2d;
}

.card .card-header {
    border-bottom-color: #676767;
}

body {
    background-color: #313131;
    color: #dadada;
}

.main-sidebar {
    background-color: #2d2d2d;
}

.main-sidebar .sidebar-brand a {
    color: white;
}

.section .section-title {
    color: white;
}

.section .section-lead {
    color: white;
}

label {
    color: white;
}

.form-control, .form-control[readonly], .form-control:focus {
    background-color: #444444;
    border-color: #797979;
    color: #dadada;
}

.form-group label {
    color: #6777ef;
}

.section {
    background-color: #2d2d2d;
}

.main-wrapper-1 .section .section-header {
    border-top: 1px solid #676767;
}

.navbar .form-inline .form-control {
    background-color: #444444;
}

.navbar .form-inline .btn {
    background-color: #292929;
}

.btn > i {
    color: white;
}

.bg-whitesmoke {
    background-color: #3e3e3e !important;
    color: white;
}