/*
RealistikPanel Dark Stisla
This is an attempt to introducs dark theme
into Stisla. Being pretty inexperianced in
css, dont expect this to be good.
- RealistikDash
*/

.article .article-details {
    background-color: ##2d2d2d;
}

.card {
    background-color: ##2d2d2d;
}

.card .card-header {
    border-bottom-color: white;
}

body {
    background-color: #4a4a4a;
    color: white;
}

.main-sidebar {
    background-color: black;
}

.main-sidebar .sidebar-brand a {
    color: white;
}

.section .section-title {
    color: white;
}

.section .section-lead {
    color: white;
}

label {
    color: white;
}

.form-control {
    background-color: #444444;
    border-color: #797979;
}