html {
    background-color: #262a2b !important;
}

section {
    background-color: #262a2b !important;
}

body {
    color: #b1b1b1 !important;
}

.page-description {
    color: #b1b1b1 !important;
}