/* Login form CSS*/

.text1 {
  color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(34, 34, 34);
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.box h1 {
    color: #6777ef;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"] {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #a454ff;
}

.box input[type = "submit"] {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00a2ff;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor:pointer;
}
.box input[type = "submit"]:hover {
    background: #00a2ff;
}

/* Alert */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

  .closebtn:hover {
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}

footer a {
    color: inherit;
    text-decoration: none;
}