@media (max-width: 1060px) {

    .mobile-view {
        display: inline-block !important;
    }

    .desktop-view {
        display: none !important;
    }
}

.mobile-view {
    display: none;
}

.desktop-view {
    display: inline-block;
}

.nflag {
    max-width: 20px;
}

.user-info {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.pptext {
    text-align: center;
    margin-bottom: 10px;
}

.article-cta {
    padding-bottom: 10px
}