{% extends "base.html" %}
{% block content %}
<h2 class="section-title">Admins</h2>
<p class="section-lead">View some RealistikPanel admin stats!</p><!--REDO THE LEAD PLS-->
<div class="row">
    <div class = "col-12 col-md-6 col-lg-6">
        {% for admin in admins[0] %}
        <div class="card">
            <div class="card-header">
                <b>{{ admin["Username"] }}</b>
            </div>
            <div class="card-body">
                <img src="{{ config['AvatarServer'] }}{{ admin['Id'] }}" alt="{{ admin['Username'] }}" class="rounded-circle mr-1" style="max-width: 100px; margin: 5px;">
                <span>Last used: Build <b>{{ admin["LastBuild"] }}</b></span>
            </div>
            <div class="card-footer bg-whitesmoke">
                <span>Last online: <b>{{ admin["Timeago"] }}</b></span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        {% for admin in admins[1] %}
        <div class="card">
            <div class="card-header">
                <b>{{ admin["Username"] }}</b>
            </div>
            <div class="card-body">
                <img src="{{ config['AvatarServer'] }}{{ admin['Id'] }}" alt="{{ admin['Username'] }}" class="rounded-circle mr-1" style="max-width: 100px; margin: 5px;">
                <span>Last used: Build <b>{{ admin["LastBuild"] }}</b></span>
            </div>
            <div class="card-footer bg-whitesmoke">
                <span>Last online: <b>{{ admin["Timeago"] }}</b></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}