{% extends "base.html" %}
{% import "components/pagination.html" as pagination %}
{% block content %}
  <h2 class="section-title">Ban Logs</h2>
  <p class="section-lead">View detailed ban reasons for the entire server!</p>

  {{ pagination.pagination('/ban-logs', page, pages) }}
  {% for log in ban_logs %}
    <div class="card">
      <div class="card-header">
        <img
          alt="image"
          src="https://a.ussr.pl/{{ log["from_id"] }}"
          class="rounded-circle mr-1"
          style="width:100%; max-width:30px; max-height:30px;"
        />
        <h4>{{ log["from_name"] }}</h4>
        to
        <img
          alt="image"
          src="https://a.ussr.pl/{{ log["to_id"] }}"
          class="rounded-circle mr-1"
          style="width:100%; max-width:30px; max-height:30px;margin-left: 10px;"
        />
        <h4>{{ log["to_name"] }}</h4>
        for {{ log["summary"] }}
      </div>
      <div class="card-body">
        {{ log["detail"] }}
      </div>
      <div class="card-footer">Banned {{ log["expity_timeago"] }}</div>
    </div>
  {% endfor %}
  {{ pagination.pagination('/ban-logs', page, pages) }}
  {{ pagination.paginationJs('/ban-logs', page, pages) }}
{% endblock %}
