{% extends "base.html" %}
{% block content %}
<h2 class="section-title">Changelogs</h2>
<p class="section-lead">View the newest changes made to RealistikPanel!</p>
{% for log in logs %}
{% if log["Type"] == 1 %}
<div class="card card-primary">
{% elif log["Type"] == 2 %}
<div class="card card-success">
{% elif log["Type"] == 3 %}
<div class="card card-info">
{% endif %}
    <div class="card-header">
        <h4>
            RealistikPanel Build {{ log["Build"] }} 
            {% if log["Type"] == 1 %}
            (Major Release)
            {% elif log["Type"] == 2 %}
            (Minor Release)
            {% elif log["Type"] == 3 %}
            (Bugfix)
            {% endif %}
        </h4>
    </div>
    <div class="card-body">
        {{ log["Summary"] }} <br><br>
        {% for change in log["Changes"] %}
        {% if change["Type"] == 1 %}
        {{ change["Content"] }} <br>
        {% elif change["Type"] == 2 %}
        <span style="color: #fcba03; margin: 4px;"><b>[BACKEND]</b></span>{{ change["Content"] }} <br>
        {% elif change["Type"] == 3 %}
        <span style="color: #eb4034; margin: 4px;"><b>[REMOVE]</b></span>{{ change["Content"] }} <br>
        {% elif change["Type"] == 4 %}
        <span style="color: #4287f5; margin: 4px;"><b>[ADD]</b></span>{{ change["Content"] }} <br>
        {% elif change["Type"] == 5 %}
        <span style="color: #32a852; margin: 4px;"><b>[FIX]</b></span>{{ change["Content"] }} <br>
        {% elif change["Type"] == 6 %}
        <span style="color: #9b59b6; margin: 4px;"><b>[REPLACE]</b></span>{{ change["Content"] }} <br>
        {% endif %}
        {% if change["Image"] %}
        <div class="chocolat-parent">
            <a href="{{ change['Image'] }}" class="chocolat-image">
                <div style="max-width:500px">
                    <img alt="image" src="{{ change['Image'] }}" class="img-fluid" style="max-width:500px; margin: 5px;">
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="card-footer">
        RealistikPanel!
    </div>
</div>
{% endfor %}
{% endblock %}