{% extends "base.html" %}
{% import "components/pagination.html" as pagination %}
{% block content %}
  <h2 class="section-title">Clans</h2>
  <p class="section-lead">View, edit and manage user-made clans!</p>

  {{ pagination.pagination('/clans', page, Pages) }}

  <div class="card">
    <div class="card-header">Badges</div>
    <di class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for Clan in Clans %}
              <tr>
                <td>{{ Clan["ID"] }}</td>
                <td><b>[{{ Clan["Tag"] }}]</b> {{ Clan["Name"] }}</td>
                <td>{{ Clan["Description"] }}</td>
                <td>
                  <div class="buttons">
                    <a class="btn btn-warning" href="/clan/{{ Clan['ID'] }}"
                      >Edit</a
                    >
                    <a
                      class="btn btn-danger"
                      href="/clan/confirmdelete/{{ Clan['ID'] }}"
                      >Disband</a
                    >
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">RealistikPanel</div>
  </div>

  <!--The page buttons-->
  {{ pagination.pagination('/clans', page, Pages) }}
  {{ pagination.paginationJs('/clans', page, Pages) }}
{% endblock %}
