{% extends "base.html" %}
{% block content %}
<h2 class="section-title">Console</h2>
<p class="section-lead">Here you can view RealistikPanel specific logs, such as errors, warnings or notable events.</p>
{% for log in logs %}
{% if log["Type"] == 1 %}
<div class="card card-primary">
{% elif log["Type"] == 2 %}
<div class="card card-warning">
{% elif log["Type"] == 3 %}
<div class="card card-danger">
{% endif %}
    <div class="card-header">
        {% if log["Type"] == 1 %}
        <i class="fas fa-info-circle" style="margin: 4px; color: #4287f5;"></i><span>Info</span>
        {% elif log["Type"] == 2 %}
        <i class="fas fa-exclamation-triangle" style="margin: 4px; color: #fcba03;"></i><span>Warning</span>
        {% elif log["Type"] == 3 %}
        <i class="fas fa-times-circle" style="margin: 4px; color: #eb4034;"></i><span>Error</span>
        {% endif %}
    </div>
    <div class="card-body">
        <b>{{ log["Info"] }}</b><br>
        <code>{{ log["Extra"] }}</code>
    </div>
    <div class="card-footer">
        At {{ log["FormatDate"] }}
    </div>
</div>
{% endfor %}
{% endblock %}