{% extends "base.html" %}
{% import "components/pagination.html" as pagination %}
{% block content %}
    <h2 class="section-title">Console</h2>
    <p class="section-lead">Here you can view RealistikPanel specific logs, such as errors, warnings or notable events.</p>

    {{ pagination.pagination('/console', page, pages) }}
    {% for log in console_logs %}
        {% if log["traceback_type"] == 1 %}
            <div class="card card-primary">
        {% elif log["traceback_type"] == 2 %}
            <div class="card card-warning">
        {% elif log["traceback_type"] == 3 %}
            <div class="card card-danger">
        {% endif %}
            <div class="card-header">
                {% if log["traceback_type"] == 1 %}
                    <i class="fas fa-info-circle" style="margin-right: 4px; color: #4287f5;font-size: 20px;"></i><span>Info</span>
                {% elif log["traceback_type"] == 2 %}
                    <i class="fas fa-exclamation-triangle" style="margin-right: 4px; color: #fcba03;font-size: 20px;"></i><span>Warning</span>
                {% elif log["traceback_type"] == 3 %}
                    <i class="fas fa-times-circle" style="margin-right: 4px; color: #eb4034;font-size: 20px;"></i><span style="margin-right: 4px;">Error</span>
                {% endif %}
                caused by
                <img
                    alt="image"
                    src="https://a.ussr.pl/{{ log["user"]["Id"] }}"
                    class="rounded-circle mr-1"
                    style="width:100%; max-width:30px; max-height:30px;margin-left: 10px;"
                />
                <h4>{{ log["user"]["Username"] }}</h4>
            </div>
            <div class="card-body">
                <code style="white-space: pre;">{{ log["traceback"] }}</code>
            </div>
            <div class="card-footer">
                At {{ log["time"] }}
            </div>
        </div>
    {% endfor %}
    {{ pagination.pagination('/console', page, pages) }}
    {{ pagination.paginationJs('/console', page, pages) }}
{% endblock %}