{% extends "base.html" %}

{% block content %}
<h2 class="section-title">Dashboard</h2>
<p class="section-lead">This is the RealistikPanel dashboard! The home of RealistikPanel!</p>
<div class="btn btn-primary">
    <div>
        <h3>{{ data["RegisteredUsers"] }}</h3>
    </div>
    <div>
        Registered Users
    </div>
</div>
<div class="btn btn-success">
    <div>
        <h3>{{ data["OnlineUsers"] }}</h3>
    </div>
    <div>
        Online Users
    </div>
</div>
<div class="btn btn-secondary">
    <div>
        <h3>{{ data["TotalPP"] }}</h3>
    </div>
    <div>
        Total PP
    </div>
</div>
<div class="btn btn-warning">
    <div>
        <h3>{{ data["TotalPlays"] }}</h3>
    </div>
    <div>
        Total Plays
    </div>
</div>
<div class="btn btn-info">
    <div>
        <h3>{{ data["TotalScores"] }}</h3>
    </div>
    <div>
        Total Scores
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header">
        <h4>RealistikPanel!</h4>
    </div>
    <div class="card-body">
        <canvas id="PlayerChart" height="180"></canvas>
    </div>
    <div class="card-footer">
        RealistikPanel
    </div>
</div>
<div class="section-title">Recent Plays</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Player</th>
            <th scope="col">Song</th>
            <th scope="col">Score</th>
            <th scope="col">PP</th>
        </tr>
    </thead>
    <tbody>
        {% for play in plays %}
        <tr>
            <td>{{ play["Time"] }}</td>
            <td><a href="{{ config['ServerURL'] }}u/{{ play['PlayerId'] }}" target="_blank">{{ play["Player"] }}</a></td>
            <td>{{ play["SongName"] }}</td>
            <td>{{ play["Score"] }}</td>
            <td>{{ play["pp"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
//Dash data
var ctx = document.getElementById("PlayerChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ Graph["IntervalList"] }}, 
    datasets: [{
      label: 'Online Players',
      data: {{ Graph["PlayerCount"] }},
      borderWidth: 2,
      backgroundColor: 'rgba(63,82,227,.8)',
      borderWidth: 0,
      borderColor: 'transparent',
      pointBorderWidth: 0,
      pointRadius: 3.5,
      pointBackgroundColor: 'transparent',
      pointHoverBackgroundColor: 'rgba(63,82,227,.8)',
    }]
  },
  options: {
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        gridLines: {
          drawBorder: false,
          color: '#f2f2f2',
        },
        ticks: {
          beginAtZero: true,
          stepSize: 200,
          callback: function(value, index, values) {
            return '$' + value;
          }
        }
      }],
      xAxes: [{
        gridLines: {
          display: false,
          tickMarkLength: 15,
        }
      }]
    },
  }
});
</script>
{% endblock %}