{% extends "base.html" %}
{% import "components/pagination.html" as pagination %}
{% block content %}
  <h2 class="section-title">Logs</h2>
  <p class="section-lead">
    See all the actions moderators have taken! Catch any traitors or abusers.
  </p>
  <div class="card">
    <div class="card-header">
      <h4>Actions Log</h4>
    </div>
    <div class="card-body">
      Here, you can view any administritive actions taken by administrators, as
      well as any Fokabot errors. This can be used to view any mistakes
      moderators have taken or catch any misbehaviour within the staff team.
    </div>
    <div class="card-footer">RealistikPanel</div>
  </div>

  {{ pagination.pagination('/logs', page, Pages) }}
  {% for log in Logs %}
    <div class="card">
      <div class="card-header">
        <img
          alt="image"
          src="{{ config.api_avatar_url }}{{ log['AccountData']['Id'] }}"
          class="rounded-circle mr-1"
          style="width:100%; max-width:30px; max-height:30px;"
        />
        <h4>{{ log["AccountData"]["Username"] }}</h4>
      </div>
      <div class="card-body">
        <b>{{ log["AccountData"]["Username"] }}</b> {{ log['Text'] }}
      </div>
      <div class="card-footer">At {{ log["Time"] }} via {{ log["Via"] }}</div>
    </div>
  {% endfor %}

  <!--The page buttons-->
  {{ pagination.pagination('/logs', page, Pages) }}
  {{ pagination.paginationJs('/logs', page, Pages) }}
{% endblock %}
