{% extends "base.html" %}
{% import "components/pagination.html" as pagination %}
{% block content %}
  <style>
    /* #page-items li {
      display: inline-block;
    }

    #page-after,
    #page-before {
      display: inline-block;
    } */
  </style>
  <h2 class="section-title">Users</h2>
  <p class="section-lead">
    This is the users panel. It lists all registered users and provides links to
    actions that can be quickly done to the users.
  </p>

  <div class="card">
    <div class="card-header">Search for users.</div>
    <div class="card-body">
      <form action="/users/1" method="post">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="user"
            placeholder="Username or Email"
            value="{{ User }}"
          />
        </div>
        <button class="btn btn-success" type="submit" name="">Search</button>
      </form>
    </div>
    <div class="card-footer">RealistikPanel</div>
  </div>
  {{ pagination.pagination('/users', page, pages) }}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Privilege</th>
          <th scope="col">Allowed</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in UserData %}
          <tr>
            <td>{{ user["Id"] }}</td>
            <td>
              <div class="user-info">
                {% if not user['Country'] == "XX" %}
                  <img
                    class="nflag"
                    src="https://ussr.pl/static/images/new-flags/flag-{{ user['Country'].lower() }}.svg"
                  />
                {% else %}
                  <img
                    class="nflag"
                    src="https://ussr.pl/static/images/new-flags/xx.png"
                  />
                {% endif %}
                <a href="{{ config.srv_url }}u/{{ user['Id'] }}" target="_blank"
                  >{{ user["Name"] }}</a
                >
              </div>
            </td>
            <td>
              <a
                class="badge badge-{{ user['Privilege']['Colour'] }}"
                style="color: white;"
                >{{ user["Privilege"]["Name"] }}</a
              >
            </td>
            {% if user["Allowed"] %}
              <td>
                <a class="badge badge-success" style="color: white;">Yes</a>
              </td>
            {% else %}
              <td><a class="badge badge-danger" style="color: white;">No</a></td>
            {% endif %}
            <td>
              <a class="btn btn-danger" href="/user/edit/{{ user['Id'] }}"
                >Edit</a
              >
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {{ pagination.pagination('/users', page, pages) }}
  {{ pagination.paginationJs('/users', page, pages) }}
{% endblock %}
