{% extends "base.html" %} {% block content %}
<h2 class="section-title">Users</h2>
<p class="section-lead">This is the users panel. It lists all registered users and provides links to actions that can be quickly done to the users.</p>
<div class="card">
    <div class="card-header">
        Search for users.
    </div>
    <div class="card-body">
        <form action="/users/1" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="user" placeholder="Username or Email" value="{{ User }}">
            </div>
            <button class="btn btn-success" type="submit" name="">Search</button>
        </form>
    </div>
    <div class="card-footer">
        RealistikPanel
    </div>
</div>
<ul class="pagination">
    {% if page <= 1 %}
    <li class="page-item disabled">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="/users/{{ page-1 }}" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% for Page in Pages %}
    {% if page == Page %}
    <li class="page-item active">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="/users/{{ Page }}">{{ Page }}</a>
    </li>
    {% endfor %}
    {% if page == Pages[-1] %}
    <li class="page-item disabled">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="/users/{{ page+1 }}" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Privilege</th>
            <th scope="col">Allowed</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in UserData %}
        <tr>
            <td>{{ user["Id"] }}</td>
            <td>
                {% if not user['Country'] == "XX" %}
                <img style="margin-right: 5px;" src="https://www.countryflags.io/{{ user['Country'] }}/flat/16.png">
                {% else %}
                <b>? </b>
                {% endif %}
                <a href="{{ config['ServerURL'] }}u/{{ user['Id'] }}" target="_blank">{{ user["Name"] }}</a>
            </td>
            <td><a class="badge badge-{{ user['Privilege']['Colour'] }}" style="color: white;">{{ user["Privilege"]["Name"] }}</a></td>
            {% if user["Allowed"] %}
            <td><a class="badge badge-success" style="color: white;">Yes</a></td>
            {% else %}
            <td><a class="badge badge-danger" style="color: white;">No</a></td>
            {% endif %}
            <td><a class="btn btn-danger" href="/user/edit/{{ user['Id'] }}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--The page buttons-->
<ul class="pagination">
    {% if page <= 1 %}
    <li class="page-item disabled">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="/users/{{ page-1 }}" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% for Page in Pages %}
    {% if page == Page %}
    <li class="page-item active">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="/users/{{ Page }}">{{ Page }}</a>
    </li>
    {% endfor %}
    {% if page == Pages[-1] %}
    <li class="page-item disabled">
    {% else %}
    <li class="page-item">
    {% endif %}
        <a class="page-link" href="/users/{{ page+1 }}" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>
{% endblock %}