{% extends "base.html" %} {% block content %}
<h2 class="section-title">Users</h2>
<p class="section-lead">This is the users panel. It lists all registered users and provides links to actions that can be quickly done to the users.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Privilege</th>
            <th scope="col">Allowed</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in UserData %}
        <tr>
            <td>{{ user["Id"] }}</td>
            <td>
                {% if not user['Country'] == "XX" %}
                <img style="margin-right: 5px;" src="https://www.countryflags.io/{{ user['Country'] }}/flat/16.png">
                {% else %}
                <b>? </b>
                {% endif %}
                <a href="{{ config['ServerURL'] }}u/{{ user['Id'] }}" target="_blank">{{ user["Name"] }}</a>
            </td>
            <td><a class="btn btn-{{ user['Privilege']['Colour'] }}" style="color: white;">{{ user["Privilege"]["Name"] }}</a></td>
            {% if user["Allowed"] %}
            <td><a class="btn btn-success" style="color: white;">Yes</a></td>
            {% else %}
            <td><a class="btn btn-danger" style="color: white;">No</a></td>
            {% endif %}
            <td><a class="btn btn-danger" href="/user/edit/{{ user['Id'] }}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--The page buttons-->
<center>
    {% if not page <= 1 %}
    <a href="/users/{{ page-1 }}" style="margin: 1rem;"><- Previous Page</a>
    {% endif %}
    <a href="/users/{{ page+1 }}" style="margin: 1rem;">Next Page -></a>
</center>
{% endblock %}